body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    background-color: white;
}

h1 {
    color:ffffff;
}

main {
    background-color: white;
    margin: 2px;
    width: 70%;
}

main section {
    background-color: white;
    margin-top: 2px;
    width: 26.3cm;
    margin-bottom: 0.5cm;
    padding-right: 1px;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 2px;
	margin-right: 2px solid;
	border-right-color = white;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}


.topnav u {

	margin-right: 275px

}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


main section article {
    width: 25%;
    display: inline-block;
}

header {
    background-color: #dcdcdc;
}

.article-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 5px;
    width: 35%;
    height: 300px;
    display: inline-table;
    color: black;
    align-self: top;
    margin: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    ;
}

.col-card {
    width: 23%;
    float: right;
    padding-right: 1px;
    margin: 1px;
}

.col-card .article-card {
    width: 2.5cm;
}

.col-card1 {
    width: 23%;
    float: down;
    padding-right: 1px;
    margin: 1px;
}

.col-card1 .article-card1 {
    width: 2.5cm;
}

section header {
    color: black;
    padding: 2px;
    padding-left: 7px;
}

side {
    height: 33.8cm;
    width: 8cm;
    background-color: white;
    margin-right: 3px;
    margin-left: 10px;
    margin-top: 3px;
    float: right;
    left: 28cm;
}

side nav {
    margin: 2px;
}

.a_head {
    padding: 3px;
	color:red;
	font-size:14px;
	
    background-color: dcdcdc;
}